
h3 {
	text-align: center;
	font-size: 0.5rem;
	font-weight: bold;
	padding: 10px;
}

ul.list {
	padding: 10px 0;
	li {
		color: #e92322;
		margin: 0 15px 15px;
		padding: 3px 5px;
		border: 3px;
		background: #f1f1f1;
		span {
			color: #333;
		}
	}
}

.swiper-wrapper {
	display: flex;
	width: 100%;
	// justify-content: space-around;
	.swiper {
		display: inline-block;
		 width: 50%;
	}
}

.js-blogs {
	.article {
		padding: 0.15rem;
		.php_form {
			input {
				height: 0.52rem;
				line-height: 0.44rem;
				vertical-align: top;
			}
			label {
				height: 0.42rem;
				line-height: 0.42rem;
			}
			textarea {
				border: 1px solid #ccc;
				border-radius: 0.1rem;
			}
			input {
				padding: 0.04rem 0.08rem;
				border: 1px solid #ccc;
			}
		}
		.php_form_item {
			display: flex;
			margin: 0.15rem 0;
		}
		.message-list {
			.uname {
				color: #007bff;
				font-size: bold;
			}
		}
	}
}


.three-d {
	position: absolute;
	top: 7.5rem;
	left: 0.5rem;
	z-index: 99;
	@-webkit-keyframes xuanzhuan_y{
    from{
        transform: rotatey(0deg);
      }
      to{
        transform: rotatey(360deg);
      }
    }
    @-webkit-keyframes xuanzhuan_x{
      from{
        transform:rotatex(0deg);
      }
      to{
        transform:rotatex(360deg);
      }
    }
	img {
      width: 100%;
      height: 100%;
    }
    div{
      width: 2.0rem;
      height: 2.0rem;
      margin: 0 auto;
      /*修改基本样式*/
    }
    .div1{
      // margin-top: 1.8rem;
      transform: perspective(4rem) rotatex(0deg) rotatey(0deg);
      /*拥有近大远小透视效果*/
      transform-style: preserve-3d;
      /*设置为3d空间*/
      position: relative;
      animation: xuanzhuan_y 20s cubic-bezier(0.0,0.0,0.0,0.0) infinite forwards;
      /*旋转动画*/
    }
    .div2{
      // margin-top: 1.8rem;
      transform: perspective(4rem) rotatex(0deg) rotatey(0deg);
      /*拥有近大远小透视效果*/
      transform-style: preserve-3d;
      /*设置为3d空间*/
      position: relative;
      animation: xuanzhuan_x 20s cubic-bezier(0.0,0.0,0.0,0.0) infinite forwards;
      /*旋转动画*/
    }
    .div1 div{
      position: absolute;
      font-size: 0.8rem;
      text-align: center;
      top: 0;
      left: 0;
      opacity:0.65;
      filter:alpha(opacity=65);
      /*内部样式*/
    }
    .div1_1{
      transform: translatez(1rem);
      /*向前移动100像素，作为最前面的面*/
    }
    .div1_2{
      transform: rotatex(90deg) translatez(1rem);
      /*绕x轴旋转90度，在z轴正方向移动100像素，作为上面的面*/
      /*注：旋转时坐标系会跟着一起旋转，z轴原来是垂直屏幕向外的，绕x轴旋转90度以后就是在屏幕上向上的方向*/
    }
    .div1_3{
      transform: rotatex(180deg) translatez(1rem);
      /*绕x轴旋转180度，这时z轴垂直屏幕向内，在z轴正方向移动100像素，作为后面的面*/
    }
    .div1_4{
      transform: rotatex(270deg) translatez(1rem);
      /*绕x轴旋转270度，这时z轴向下，在z轴正方向移动100像素，作为下面的面*/
    }
    .div1_5{
      transform: rotatey(90deg) translatez(1rem);
      /*绕y轴旋转90度，这时z轴向右，在z轴正方向移动100像素，作为右面的面*/
    }
    .div1_6{
      transform: rotatey(270deg) translatez(1rem);
      /*绕y轴旋转90度，这时z轴向左，在z轴正方向移动100像素，作为左面的面*/
    }
    
}


